[{"place_id":"20159908","licence":"Data \u00a9 OpenStreetMap contributors, ODbL 1.0. http:\/\/www.openstreetmap.org\/copyright","osm_type":"node","osm_id":"2021419612","boundingbox":["50.0774005","50.0775005","12.3706562","12.3707562"],"lat":"50.0774505","lon":"12.3707062","display_name":"2423\/15, \u0160likova, Cheb, Cheb District, Karlovarsk\u00fd kraj, Severoz\u00e1pad, 35002, Czech Republic","class":"place","type":"house","importance":0.511}]